// Colors
// heading Colors
$heading_color: #444444;
$text_color: #666666;
$cta_btn_color: #34a0d8;

// Font Family

// Headings, Call-to-actions, Header Navigation
$kufi: 'Noto Kufi Arabic', sans-serif;

// Transition
$transition: .3s ease-in-out;